@media (min-width: 800px) {
  .grid-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(49%, 1fr));
    gap: 2%;
  }
}

@media (min-width: 1024px) {
  .grid-3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(32%, 1fr));
    gap: 2%;
  }
}

.grid-6 {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(49%, 1fr));
    gap: 2%;
  }

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(3, minmax(32%, 1fr));
    gap: 2%;
  }
}
