@import '../../styles/abstracts/animations';
@import '../../styles/abstracts/variables';

.weather-details {
  &-container {
    overflow: hidden;
  }
  &-title {
    font-size: $font-size-extra-large;
    text-align: center;
  }

  &-hourly {
    height: 18rem;

    &-card {
      background-color: $primary-dark-half;
      border-radius: $border-radius-small;
    }
  }

  &-date {
    font-size: $font-size-tiny;
    font-weight: $font-weight-normal;
    margin-bottom: $margin-large;
    cursor: pointer;
    color: #e3e1f8;
    text-transform: uppercase;

    &__container {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: $margin-small;
      margin-bottom: $margin-large;
    }
    &.active {
      color: $primary-light;
      font-weight: $font-weight-bold;
      transition: color 0.3s ease;
    }
  }
}

.animate-out .swiper-slide {
  opacity: 0;
  transform: translateY(-100%);
  animation: slideDown 0.3s ease forwards;

  & * {
    opacity: 0.4;
  }
}

.animate-in .swiper-slide {
  opacity: 0;
  transform: translateY(100%);
  animation: slideUp 0.6s ease forwards;

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: 0.1s * $i;
    }
  }
}
