@import '../../styles/abstracts/variables';

.local-weather {
  &__section {
    display: flex;
    flex-direction: column;
    margin: $margin-large auto;
    width: 80vw;
    animation: slideUp 0.3s ease forwards;
  }

  &__title {
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    margin: $margin-medium 0;
  }

  &__content {
    padding: $padding-wide-medium;
    background: $primary-dark-half;
    border-radius: $border-radius-small;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__location {
    margin-bottom: $margin-small;
    font-size: $font-size-medium;
  }

  &__date {
    margin-bottom: $margin-medium;
    font-size: $font-size-tiny;
    opacity: 0.9;
  }

  &__icon {
    &.big {
      width: 13rem;
      margin-bottom: $margin-large;
    }
  }

  &__temp {
    font-size: $font-size-tiny;
    opacity: 0.9;
    font-weight: $font-weight-smallest;
    &.big {
      font-size: $font-size-extra-large;
      opacity: 1;
      font-weight: $font-weight-normal;
    }
  }

  &__condition {
    opacity: 0.9;
    font-size: $font-size-tiny;
    transform: translateY(-1rem);
  }

  &__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 0;
    width: 100%;
    margin-top: $margin-large;

    &-item {
      display: flex;
      justify-content: center;
      font-size: $font-size-small;
      font-weight: $font-weight-normal;
      & :first-child {
        font-size: $font-size-large;
        margin-right: 0.5rem;
        transform: translateY(-0.1rem);
      }
    }
  }
}
