@import '../../styles/abstracts/variables';

.local-weather {
  &__section {
    animation: slideUp 0.6s ease forwards;
  }

  &__title {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    background: $primary-dark-half;
    align-items: center;
  }

  &__location {
    margin-bottom: $margin-small;
    font-size: $font-size-medium;
    text-align: center;
    width: 100%;
  }

  &__date {
    margin-bottom: $margin-medium;
    font-size: $font-size-tiny;
    opacity: 0.9;
    text-transform: uppercase;
  }

  &__icon {
    &.big {
      width: 13rem;
      margin-bottom: $margin-large;
    }
  }

  &__temp {
    font-size: $font-size-tiny;
    opacity: 0.9;
    font-weight: $font-weight-smallest;
    &.big {
      font-size: $font-size-extra-large;
      opacity: 1;
      font-weight: $font-weight-normal;
    }
  }

  &__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 0;
    width: 100%;
    margin-top: $margin-extra-large;

    &-item {
      display: flex;
      justify-content: center;
      font-size: $font-size-small;
      font-weight: $font-weight-normal;
      & :first-child {
        font-size: $font-size-large;
        margin-right: 0.5rem;
        transform: translateY(-0.1rem);
      }
    }
  }
}
