@import '../../styles/abstracts/variables';

.global-weather {
  &__header {
    margin-top: $margin-large;
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 0;
  }
}
