//Colors
$primary-light: #f9f6ee;
$primary-light-half: rgba(249, 246, 238, 0.5);
$primary-dark: #1b1212;
$primary-dark-half: rgba(27, 18, 18, 0.5);
$primary-dark-transparent: rgba(27, 18, 18, 0.2);
$primary-color-1: #79beee;
$primary-color-1-washed: #afd8f5;
$primary-color-2: #8a84e2;
$primary-color-2-washed: #b9b5ee;
$primary-color-2-half: #e3e1f8;
$black-overlay: rgba(0, 0, 0, 0.8);

//Gradients
$primary-gradient: linear-gradient(
  90deg,
  rgb(89, 207, 225) 0%,
  rgba(80, 67, 229, 1) 100%
);

$gradient-direction: to bottom;
$gradient-direction-reversed: to top;

//Padding
$padding-wide-small: 1rem 2rem;
$padding-wide-medium: 2rem 4rem;
$padding-wide-large: 4rem 8rem;
$padding-small: 1rem;
$padding-medium: 2rem;
$padding-large: 4rem;
$padding-extra-large: 6rem;

//Border Radius
$border-radius-small: 0.5rem;
$border-radius-medium: 1rem;
$border-radius-large: 3rem;

//Font Size

$font-size-tiny: 1.5rem;
$font-size-small: 1.6rem;
$font-size-medium: 2rem;
$font-size-large: 2.4rem;
$font-size-extra-large: 3.2rem;

//Font Weight
$font-weight-smallest: 100;
$font-weight-small: 200;
$font-weight-normal: 400;
$font-weight-bold: 600;

//Margins
$margin-tiny: 0.5rem;
$margin-small: 1rem;
$margin-medium: 2rem;
$margin-large: 4rem;
$margin-extra-large: 6rem;

//Box-Shadows
$box-shadow-1: 1px 4px 8px rgba(0, 0, 0, 0.3);

//Transitions
$box-shadow-transition: box-shadow 0.3s ease;
$default-transition: all 0.3s ease;
