//Colors
$primary-light: #f9f6ee;
$primary-dark: #1b1212;
$primary-dark-half: rgba(27, 18, 18, 0.5);
$primary-dark-transparent: rgba(27, 18, 18, 0.2);
$primary-color-1: #79beee;
$primary-color-2: #8a84e2;

//Gradients
$primary-gradient: linear-gradient(
  90deg,
  rgba(109, 226, 245, 1) 0%,
  rgba(100, 87, 239, 1) 100%
);
$black-fade-gradient: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0.85) 10%,
  rgba(0, 0, 0, 0.6) 90%,
  rgba(0, 0, 0, 0) 100%
);

//Padding
$padding-wide-small: 1rem 2rem;
$padding-wide-medium: 2rem 4rem;
$padding-wide-large: 4rem 8rem;
$padding-medium: 2rem;

//Border Radius
$border-radius-small: 0.5rem;
$border-radius-medium: 1rem;

//Font Size

$font-size-tiny: 1.5rem;
$font-size-small: 1.6rem;
$font-size-medium: 2rem;
$font-size-large: 2.4rem;
$font-size-extra-large: 3.2rem;

//Font Weight
$font-weight-normal: 400;
$font-weight-bold: 600;

//Margins
$margin-small: 1rem;
$margin-medium: 2rem;
$margin-large: 4rem;
