@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.hamburger {
  &:before,
  &:after,
  & {
    position: relative;
    width: 3.2rem;
    height: 0.4rem;
    background: $primary-gradient;
    border-radius: $border-radius-small;
    transition: filter 0.2s ease;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
  }

  &:before {
    top: -1rem;
  }

  &:after {
    bottom: -1rem;
  }

  &__container {
    background: none;
    border: none;
    position: relative;
    width: 3.2rem;
    height: 3.2rem;
    @include center-items;
    z-index: 101;

    &:hover {
      cursor: pointer;
    }

    &:disabled * {
      filter: brightness(0.5);
    }
  }
}
