@import '../../styles/abstracts/mixins';
@import '../../styles/abstracts/variables';

.search {
  &-container {
    @include center-items;
    padding: $padding-wide-large;

    & > * {
      height: 4.8rem;
      border: none;
      color: $primary-color-1;
      background: $primary-dark-half;
      outline: none;
    }
  }

  &-button {
    border: none;
    border-radius: $border-radius-small 0 0 $border-radius-small;
    padding: $padding-wide-small;
    font-size: $font-size-large;
    padding-top: 12px;

    &:last-child {
      border-radius: 0 $border-radius-small $border-radius-small 0;

      & .visible {
        cursor: pointer;
      }
    }
  }

  &-input {
    font-size: $font-size-medium;
    padding-right: $padding-wide-small;
  }
}
