@import '../../styles/abstracts/variables';

.search {
  &-container {
    position: relative;
    display: flex;
    margin: $margin-large auto $margin-small;
    width: 80vw;
    transition: $box-shadow-transition;

    &:hover,
    &:focus-within {
      box-shadow: $box-shadow-1;
    }

    & > * {
      height: 4.8rem;
      border: none;
      color: $primary-color-1;
      background: $black-overlay;
      outline: none;
    }
  }

  &-button {
    border: none;
    border-radius: $border-radius-small 0 0 $border-radius-small;
    padding: $padding-wide-small;
    font-size: $font-size-large;
    padding-top: 12px;
    cursor: pointer;

    &.show {
      border-radius: $border-radius-small 0 0 0 !important;
    }
  }

  &-cancel {
    border-radius: 0 $border-radius-small $border-radius-small 0;
    pointer-events: none;
    & .visible {
      cursor: pointer;
      pointer-events: all;
    }

    &.show {
      border-radius: 0 $border-radius-small 0 0 !important;
    }
  }

  &-input {
    font-size: $font-size-medium;
    padding-right: $padding-wide-small;
    width: 100%;
  }

  &-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: fit-content;
    max-height: 20rem;
    overflow-y: auto;
    border-top: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out;
    border-radius: 0 0 $border-radius-small $border-radius-small;
    z-index: 50;

    p {
      padding: $padding-wide-small;
      cursor: pointer;
      font-size: $font-size-small;
      transition: all 0.3s;

      &:hover {
        background-color: $primary-light;
        color: $primary-color-2;
      }
    }
  }

  &-dropdown.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
