@import '../../styles/abstracts/variables';

.weather-detail-card {
  min-height: 30rem;
  margin-top: $margin-large;
  margin-bottom: $margin-medium;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__image {
    height: 15rem;
  }

  &__text {
    font-size: $font-size-medium;
  }

  &__temp {
    font-size: $font-size-extra-large;
  }
}
